@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<!-- Welcome to the page -->
    <h1 class="display-4">Welcome to Felix's Farm</h1>
	<img src="~/img/oinkers.jpg" height=200/>
    <img src="~/img/moo.jpg" height=200 />
	<br />
	<br />
	<!-- Interests / Hobbies / Fun things -->
	<p>Here at Felix's Farm, we have the best animals in the world</p>
	<p>Our animals are happy and healthy</p>
	<p>Our animals are fed the best food and are taken care of by the best veterinarians</p>
	<p>Let me tell you a secret though...</p>
	<p>Turns out, I don't actually have any animals and never had, I just thought Felix's Farm was fun alliteration</p>
	<p>I'm a big fan of being creative and making random things, such as MVC ASP.NET webpages</p>
	<p>I used to think HTML was the only way, but I have since been taught the ways of the MVC</p>
	<p>I have been enlightened</p>
	<p>But even with this enlightenment...</p>
	<p>...I still like farm animals! :)</p>
</div>